#Ignore the build and lib dirs
build
lib/*
generated/*
cmake_install.cmake
*Makefile

valgrindOut/*

*CMakeFiles/*
*CMakeCache.txt

sources/projects/BarabasiMultilayer/generated/*

*.json

#Ignore any executables
bin/*

#Ignore temporary files created by the text editor
*~

*Tmp*
