#Ignore the build and lib dirs
build
lib/*
generated/*
cmake_install.cmake
*Makefile

valgrindOut/*

CMakeFiles/*
CMakeCache.txt
sources/projects/MpiCluster/CMakeFiles/*
sources/projects/MpiCluster/CMakecache.txt
sources/test/FunctionalityTest/CMakeFiles/*
sources/test/FunctionalityTest/CMakecache.txt

*.json

#Ignore any executables
bin/*

#Ignore temporary files created by the text editor
*~

*Tmp*
