#Ignore the build and lib dirs
build
lib/*
generated/*
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
*Makefile

valgrindOut/*

sources/projects/MpiCluster/CMakeFiles/*

sources/projects/BarabasiMultilayer/generated/*

*.json

#Ignore any executables
bin/*

#Ignore temporary files created by the text editor
*~

*Tmp*
